.wrapper {
  overflow-x: hidden;
}
.wrapper .main__wrapper {
  background: url(../images/background/bg.png) center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.wrapper .main__wrapper .container {
  display: flex;
  flex-direction: column;
}
.wrapper .main__wrapper .container main {
  margin-top: 130px;
}
.wrapper .main__wrapper .container main .main__container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
}
.wrapper .main__wrapper .container main .main__container h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.wrapper .main__wrapper .container main .main__container p {
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
  max-width: 70%;
  color: #FFFFFF;
}
.wrapper .main__wrapper .container main .main__container .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.wrapper .main__wrapper .container main .main__container .buttons .project {
  background: linear-gradient(to left, #9166F0, #210C51);
  width: 260px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.wrapper .main__wrapper .container main .main__container .buttons .project a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}
.wrapper .main__wrapper .container main .main__container .buttons .course {
  background: transparent;
  width: 260px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #9166F0;
}
.wrapper .main__wrapper .container main .main__container .buttons .course a {
  color: #9166F0;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}
.wrapper .services {
  background-color: #F5F5F5;
}
.wrapper .services h1 {
  margin: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700x;
  font-family: "Ubuntu", sans-serif;
}
.wrapper .services .cards__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wrapper .services .cards__container .top__side, .wrapper .services .cards__container .bottom__side {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
.wrapper .services .cards__container .top__side .card, .wrapper .services .cards__container .bottom__side .card {
  border-radius: 10px;
  max-width: 33%;
  width: 410px;
  height: 420px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background: url(../images/icons/mask-1.svg) top 20px right 20px no-repeat #FFFFFF;
}
.wrapper .services .cards__container .top__side .card h2, .wrapper .services .cards__container .bottom__side .card h2 {
  font-size: 30px;
  font-weight: 400;
  max-width: 70%;
}
.wrapper .services .cards__container .top__side .card p, .wrapper .services .cards__container .bottom__side .card p {
  font-size: 16px;
  font-weight: 300;
  max-width: 80%;
}
.wrapper .services .cards__container .top__side .card a, .wrapper .services .cards__container .bottom__side .card a {
  color: #9166F0;
  font-size: 16px;
}
.wrapper .services .cards__container .top__side .card .button, .wrapper .services .cards__container .bottom__side .card .button {
  background: linear-gradient(to left, #9166F0, #210C51);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.wrapper .services .cards__container .top__side .card .button a, .wrapper .services .cards__container .bottom__side .card .button a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}
.wrapper .skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}
.wrapper .skills .left__side {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.wrapper .skills .left__side h1 {
  font-size: 48px;
  font-weight: 700s;
}
.wrapper .skills .left__side .accordion {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
  width: 600px;
}
.wrapper .skills .left__side .accordion h2 {
  font-size: 20px;
  line-height: 130%;
  font-weight: 300;
}
.wrapper .skills .left__side .accordion h2::after {
  margin-top: 25px;
  position: relative;
  content: " ";
  height: 1px;
  width: 100%;
  background: #D9D9D9;
  display: block;
}
.wrapper .skills .left__side .accordion h2:hover {
  color: #9166F0;
  transition: 0.9s ease;
}
.wrapper .cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}
.wrapper .cases .cases__head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wrapper .cases .cases__head h1 {
  font-size: 48px;
  font-weight: 700;
}
.wrapper .cases .cases__head .cases {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.wrapper .cases .cases__head .cases a {
  padding: 17px 26px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  color: #BDBDBD;
  background: transparent;
}
.wrapper .cases .cases__head .cases a:nth-child(1) {
  color: #FFFFFF;
  background: #9166F0;
}
.wrapper .cases .cases__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper .cases .cases__body .left__side, .wrapper .cases .cases__body .right__side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wrapper .cases .cases__body .left__side .case__card, .wrapper .cases .cases__body .right__side .case__card {
  display: flex;
  flex-direction: row;
  gap: 0;
  max-width: 95%;
  background: #FFFFFF;
  border-radius: 10px;
}
.wrapper .cases .cases__body .left__side .case__card .content, .wrapper .cases .cases__body .right__side .case__card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-height: 430px;
}
.wrapper .cases .cases__body .left__side .case__card .content h1, .wrapper .cases .cases__body .right__side .case__card .content h1 {
  font-size: 22px;
  font-weight: 500;
  max-width: 90%;
}
.wrapper .cases .cases__body .left__side .case__card .content p, .wrapper .cases .cases__body .right__side .case__card .content p {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.wrapper .cases .cases__body .left__side .case__card .content p span, .wrapper .cases .cases__body .right__side .case__card .content p span {
  color: #BDBDBD;
}
.wrapper .cases .cases__body .left__side .case__card .content .button, .wrapper .cases .cases__body .right__side .case__card .content .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.wrapper .cases .cases__body .left__side .case__card .content .button a, .wrapper .cases .cases__body .right__side .case__card .content .button a {
  color: #9166F0;
  font-size: 20px;
  font-weight: 700;
}
.wrapper .cases .cases__footer .button {
  background: transparent;
  border: 1px solid #9166F0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 34px;
  border-radius: 5px;
}
.wrapper .cases .cases__footer .button a {
  color: #9166F0;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}
.wrapper .about__us {
  margin: 100px auto;
}
.wrapper .about__us h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.wrapper .about__us .about__container {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapper .about__us .about__container .about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .about__us .about__container .about__item h1 {
  font-size: 170px;
  background: linear-gradient(to left, #9166F0, #210C51);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
}
.wrapper .about__us .about__container .about__item h1 span {
  font-size: 60px;
  position: relative;
  background: linear-gradient(to left, #9166F0, #210C51);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 20px;
}
.wrapper .about__us .about__container .about__item p {
  text-align: center;
  font-size: 16px;
}
.wrapper .about__us .about__container .experience {
  width: 205px;
}
.wrapper .about__us .about__container .count {
  width: 270px;
}
.wrapper .about__us .about__container .clients {
  width: 250px;
}
.wrapper .about__us .about__container .time_on {
  width: 125px;
}
.wrapper .lessons {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.wrapper .lessons h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  max-width: 80%;
}
.wrapper .lessons .lessons__container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
}
.wrapper .lessons .lessons__container .lesson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 290px;
  width: 300px;
  background-color: #FFFFFF;
  border-radius: 10px;
  gap: 10px;
}
.wrapper .lessons .lessons__container .lesson .lesson__image {
  position: relative;
  bottom: 20px;
}
.wrapper .lessons .lessons__container .lesson .lesson__image img {
  border-radius: 15px;
}
.wrapper .lessons .lessons__container .lesson .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  height: 240px;
  position: relative;
}
.wrapper .lessons .lessons__container .lesson .content p {
  font-size: 16px;
  font-weight: 500;
  max-width: 70%;
}
.wrapper .lessons .lessons__container .lesson .content .button {
  background: linear-gradient(to left, #9166F0, #633BBC);
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.wrapper .lessons .lessons__container .lesson .content .button a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}
.wrapper .lessons .lessons__footer .button {
  background: transparent;
  border: 1px solid #9166F0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 34px;
  border-radius: 5px;
}
.wrapper .lessons .lessons__footer .button a {
  color: #9166F0;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}
.wrapper .request {
  display: flex;
  flex-direction: column;
  margin: 150px auto 0 auto;
  gap: 100px;
  max-height: 1070px;
}
.wrapper .request h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 48px;
}
.wrapper .request .request__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapper .request .request__container .input__side {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  max-width: 450px;
  max-height: 600px;
}
.wrapper .request .request__container .input__side .description {
  grid-area: 1/1/2/3;
}
.wrapper .request .request__container .input__side .description textarea {
  width: 100%;
  border-radius: 10px;
  background: transparent;
  border: #9166F0 1px solid;
  padding: 20px;
}
.wrapper .request .request__container .input__side .name {
  grid-area: 2/1/3/2;
}
.wrapper .request .request__container .input__side .name input {
  width: 320px;
  height: 70px;
  border-radius: 10px;
  background: transparent;
  border: #9166F0 1px solid;
  padding: 20px;
}
.wrapper .request .request__container .input__side .number {
  grid-area: 2/2/3/3;
}
.wrapper .request .request__container .input__side .number input {
  width: 320px;
  height: 70px;
  border-radius: 10px;
  background: transparent;
  border: #9166F0 1px solid;
  padding: 20px;
}
.wrapper .request .request__container .input__side .mail {
  grid-area: 3/1/3/2;
}
.wrapper .request .request__container .input__side .mail input {
  width: 320px;
  height: 70px;
  border-radius: 10px;
  background: transparent;
  border: #9166F0 1px solid;
  padding: 20px;
}
.wrapper .request .request__container .input__side .site {
  grid-area: 3/2/3/3;
}
.wrapper .request .request__container .input__side .site input {
  width: 320px;
  height: 70px;
  border-radius: 10px;
  background: transparent;
  border: #9166F0 1px solid;
  padding: 20px;
}
.wrapper .request .request__container .manager__side {
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .request .request__container .manager__side .manager {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.wrapper .request .request__container .manager__side .manager .info__side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper .request .request__container .manager__side .manager .info__side p {
  font-size: 20px;
  font-weight: 700;
}
.wrapper .request .request__container .manager__side .manager .info__side span {
  font-size: 16px;
  font-weight: 300;
}
.wrapper .request .request__container .manager__side .manager__communication {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.wrapper .request .request__container .manager__side .manager__communication a {
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}
.wrapper .request .request__container .manager__side .manager__button {
  background: linear-gradient(to left, #9166F0, #210C51);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.wrapper .request .request__container .manager__side .manager__button a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}
.wrapper .request .request__container .manager__side .agreement {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
}
.wrapper .request .request__container .manager__side .agreement span {
  color: #9166F0;
  font-size: 12px;
}

header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header__nav .nav .navbar {
  display: flex;
  gap: 40px;
}
header .header__nav .nav .navbar li {
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}
header .header__nav .nav .navbar li:hover {
  transition: 0.3s ease;
  color: #9166F0;
}
header .header__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
header .header__socials .socials__bar {
  display: flex;
  flex-direction: row;
}
header .header__socials .socials__bar :nth-child(2) {
  position: relative;
  right: 15px;
}
header .header__socials .socials__bar :nth-child(3) {
  position: relative;
  right: 30px;
}
header .header__socials .socials__bar a {
  color: #FFFFFF;
}
header .header__socials .socials__bar a img:hover {
  transition: 0.3s ease;
  filter: blur(1px);
}
header .header__socials .header__number a {
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}
header .header__socials .header__number a:hover {
  transition: 0.3s ease;
  color: #9166F0;
}

footer {
  height: 240px;
  background: #010423;
}
footer .footer__container {
  max-width: 1350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 50px;
}
footer .footer__container .after {
  display: flex;
  flex-direction: column;
}
footer .footer__container .after .top__side {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer__container .after .top__side .footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
footer .footer__container .after .top__side .footer__socials .number {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer__container .after .top__side .footer__socials .number p, footer .footer__container .after .top__side .footer__socials .number a {
  color: #FFF;
}
footer .footer__container .after .top__side .footer__socials .number p {
  color: #B6B6B6;
  font-size: 14px;
}
footer .footer__container .after .top__side .footer__socials .number a {
  font-size: 20px;
  font-weight: 700;
}
footer .footer__container .after .top__side .footer__socials .mail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer__container .after .top__side .footer__socials .mail p, footer .footer__container .after .top__side .footer__socials .mail a {
  color: #FFF;
}
footer .footer__container .after .top__side .footer__socials .mail p {
  color: #B6B6B6;
  font-size: 14px;
}
footer .footer__container .after .top__side .footer__socials .mail a {
  font-size: 20px;
  font-weight: 700;
}
footer .footer__container .after .top__side .socials__bar {
  max-width: 110px;
  display: flex;
  flex-direction: row;
}
footer .footer__container .after .top__side .socials__bar :nth-child(2) {
  position: relative;
  right: 15px;
}
footer .footer__container .after .top__side .socials__bar :nth-child(3) {
  position: relative;
  right: 30px;
}
footer .footer__container .after .top__side .socials__bar a {
  color: #FFFFFF;
}
footer .footer__container .after .top__side .socials__bar a img:hover {
  transition: 0.3s ease;
  filter: blur(1px);
}
footer .footer__container .after .top__side .footer__nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
footer .footer__container .after .top__side .footer__nav .left__side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer__container .after .top__side .footer__nav .left__side a {
  color: #FFF;
}
footer .footer__container .after .top__side .footer__nav .right__side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer__container .after .top__side .footer__nav .right__side a {
  color: #FFF;
}
footer .footer__container .after::after {
  margin-top: 120px;
  position: absolute;
  left: 0;
  content: " ";
  height: 1px;
  width: 100%;
  background: #D9D9D9;
  display: block;
}
footer .footer__container .bottom__side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer__container .bottom__side p {
  color: #FFF;
}
footer .footer__container .bottom__side a {
  color: #9166F0;
}
footer .footer__container .bottom__side p {
  color: #fff;
}
footer .footer__container .bottom__side p span {
  color: #9166F0;
}

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  color: #1A1A1A;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1350px;
  padding: 20px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */