@use 'sass:math';

// Container
$containerWidth : 1350px ; // Ширина контейнера
$ContainerPadding : 20px ; // Отступы внутри контейнера

// Adaptive Breakpoint
$breakpoint1450: 1449.98px +px; // 1450px
$breakpoint992: 991.98px +px; // 992px
$breakpoint768: 767.98px +px; // 768px
$breakpoint480: 479.98px +px; // 480px

// Colors
$primaryColor : #1A1A1A;
$secondaryColor :#FFFFFF;
$lightVioletColor: #9166F0;